.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}
.ThreeCircles{
  color: red;
}