@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixin';

.title {
  @include font(500, 14px, 1.3);
  margin-bottom: 14px;
}
.svgIcon {
  stroke-opacity: 0.5;
}
.activeSvgIcon {
  stroke-opacity: 1;
}
.bgIcon {
  outline: 1px solid red;
}
.topLine {
  border: 1px solid var(--primary-text-color);
  margin-bottom: 14px;
  opacity: 0.1;
}
.bottomLine {
  border: 1px solid var(--primary-text-color);
  margin-bottom: 24px;
  opacity: 0.1;
}
.labelWrapper {
  display: flex;
  justify-content: space-between;
  .labelTitle {
    font-family: Poppins;

    @include font(500, 14px, 1.3);
    margin-bottom: 14px;
  }
  .showAll {
    border: none;
    display: flex;
    height: 30px;
    background: transparent;
    color: var(--primary-text-color);
    font-size: 12px;
    font-family: Poppins;
    letter-spacing: -0.24px;
    text-decoration-line: underline;
    opacity: 0.5;
  }
}
