.btnAddCard {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 334px;
  height: 56px;
  padding: 14px 0;

  cursor: pointer;

  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--btn-modal-bg);
  background-color: var(--btn-bg);
  &:hover {
    opacity: 0.9;
    background-color: var(--btn-hover-main);
  }

  &:active {
    background-color: var(--btn-active-main);
  }
}

.btnAddCardW {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--btn-modal-bg);
}

.iconPlus {
  stroke: var(--btn-modal-icon-plus);
}
