.iconBg {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 8px;
  &.violet {
    background-color: #ecedfd;
  }
}
.icon {
  fill: #fff;
  &.violet {
    fill: #5255bc;
  }
}
