.container{
    display: flex;
    align-items: center;
}

.name{
    margin-right: 8px;
    max-width: 70px;
    overflow: hidden;


    font-size: 14px;
    letter-spacing: -0.28px;
    text-overflow: ellipsis;
}

.avatarContainer{
    height: 32px;
    width: 32px;
    overflow: hidden;

    border-radius: 8px;
    background-color: var(--secondary-background);

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px var(--select-list-border);
    }
}
.svg{
    position: relative;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--select-list-bg);

    &:first-child{
        transform: translateY(1.5px);
    }
}
.img{
    font-size: 9px;
}