@import-normalize;
@import 'overlayscrollbars/overlayscrollbars.css';

@import './assets/fonts/poppinsFontStyle.css';
@import './sass/utils/base';
@import './sass/utils/mixin';
@import './sass/utils/variables';
@import './sass/utils/scrollConfig';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: var(--secondary-background);
  color: var(--primary-text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





